*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.richTextField{
    width: 1000px;
    height: 500px;
    background-color: aliceblue;
    border-radius:  0 0 16px 16px ;
}
.header{
    width: 1000px;
    height: 200px;
    background-color: red;
    border-radius: 16px 16px 0 0 ;
    padding: 20px;
    display: inline-block;
}
.menu li{
    display: inline;
}
.tools{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
}
li ~ li{
    margin-left: 10px;
}
.tooltxt{
    width: 90px;
    margin-bottom: 10px;
}
button{
    margin-bottom: 10px;
    cursor: pointer;
}
select, input{
    cursor: pointer;
}
select:focus, button:focus{
    outline: none;
}