*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.richTextField{
    width: 1000px;
    height: 500px;
    background-color: aliceblue;
    border-radius:  0 0 16px 16px ;
    padding: 10px 20px;
    
}
.header{
    width: 1000px;
    height: 150px;
    background-image: linear-gradient(120deg, rgb(30, 184, 230) 30%,rgb(30, 150, 230) 70%);
    border-radius: 16px 16px 0 0 ;
    padding: 20px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}
.menu{
    padding-top: 15px;
}
.menu li{
    display: inline;
}
.tools{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
}
li ~ li{
    margin-left: 10px;
}
.tooltxt{
    width: 90px;
    margin-bottom: 10px;
}
button{
    margin-bottom: 10px;
    cursor: pointer;
    background: white;
}
select, input{
    cursor: pointer;
}
select:focus, button:focus{
    outline: none;
}